/* колір первинного текст  #757575; */
/* колір вторинного тексту  #212121; */
/* колір акценту  #2196F3; */
/* первинний фоновий колір  #FFFFFF; */
/* колір логотипу  #000000; */
/* футер текст контактів  rgba(255, 255, 255, 0.6); */
/* футер background  #2F303A; */
/* вторинний фоновий колір   #f5f4fa; */
/* білий колір тексту  #FFFFFF*/
/* колір ссило #AFB1B8 */

/* Стилі - головна сторінка */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-hero-bg-color: #2f303a;
  --footer-contacts-text: rgba(255, 255, 255, 0.6);
  --white-color-text: #ffffff;
  --social-color: #afb1b8;
}

body {
  background: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.top-line-bg {
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0; */
  min-height: 80px;
  border-bottom: 1px solid #ececec;
  background: var(--primary-bg-color);
}
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.white-color-logo {
  color: #ffffff;
}

.accent {
  color: var(--accent-color);
}

/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link.carrent {
  position: relative;
}
.site-nav .link.carrent::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  background: var(--accent-color);
}

.site-nav .link {
  display: block;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--primary-text-color);

  opacity: 1;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.carrent {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}
.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> section hero >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.hero {
  background: var(--footer-hero-bg-color);
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img\(hero\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> backdrop >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.close {
  position: absolute;
  right: 0px;
  top: 0px;

  width: 30px;
  height: 30px;

  margin-right: 8px;
  margin-top: 8px;

  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.close .icon-close {
  fill: #000000;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> section specifics >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.feature-liste {
  display: flex;
  flex-wrap: wrap;
}

.feature-liste .title {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-liste .item {
  width: 270px;
}

.feature-liste .item:not(:last-child) {
  margin-right: 30px;
}
.item-icon {
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.feature-liste .text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> section occupation >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.occupation {
  padding-top: 0;
}

.occupation .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.occupation-liste {
  display: flex;
  flex-wrap: wrap;
}

.occupation-liste .item:not(:last-child) {
  margin-right: 30px;
}

.occupation-liste .item {
  position: relative;
}

.item .label {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label .text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color-text);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> section team >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-liste {
  display: flex;
}

.team-liste .item:not(:last-child) {
  margin-right: 30px;
}

.team-liste .item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-liste .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.team-liste .text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.item .title-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-liste {
  display: inline-flex;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: currentColor;
}

.social-item .social-links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--social-color);
  background-color: var(--white-color-text);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item .social-links:hover,
.social-item .social-links:focus {
  background-color: var(--accent-color);
  color: var(--white-color-text);
}
.social-links .social-icon:hover,
.social-links .social-icon:focus {
  background-color: var(--accent-color);
  color: var(--white-color-text);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> regular customers >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.customers-liste {
  display: flex;
}
.customers .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.customers-links {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--social-color);

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .customers-descrip:not(:last-child) {
  margin-right: 30px;
}
.icon-group1,
.icon-group2,
.icon-group3,
.icon-group4,
.icon-group5,
.icon-group6 {
  fill: currentColor;
}
.icon-group1:hover,
.icon-group2:hover,
.icon-group3:hover,
.icon-group4:hover,
.icon-group5:hover,
.icon-group6:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.customers-links:hover,
.customers-links:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.footer {
  background: var(--footer-hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.site-add .link {
  color: var(--white-color-text);
  line-height: 1.71;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-add .mail,
.site-add .tel {
  color: var(--footer-contacts-text);
  line-height: 1.71;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-add .link:hover,
.site-add .link:focus {
  color: var(--accent-color);
}
.site-add .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-style: normal;
}

.social {
  margin-left: 70px;
}
.social .text {
  margin-bottom: 20px;
  color: var(--white-color-text);
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.social .social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border-radius: 50%;
  border: none;
  width: 44px;
  height: 44px;
  color: var(--white-color-text);
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social .social-links:not(:last-child) {
  margin-right: 10px;
}

.links-icon {
  fill: var(--white-color-text);
}
.social .social-links:hover,
.social .social-links:focus {
  background-color: var(--accent-color);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> buttons >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* button-hero */

.button-hero {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--white-color-text);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* button-portfolio */

.button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;

  color: var(--primary-text-color);
  background: var(--secondary-bg-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: var(--white-color-text);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> portfolio styles >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* filters */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

/* projects */

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-descr {
  border-top: 0;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.projects-links {
  display: block;

  transition-property: background-color, box-shadow;
}
.projects-links:hover,
.projects-links:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img {
  position: relative;
  overflow: hidden;
}
.projects-img .overlay {
  position: absolute;
  top: 0;
  left: 0;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.overlay .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--white-color-text);
}
.projects-links:hover .overlay,
.projects-links:focus .overlay {
  transform: translateX(0);
  opacity: 1;
}
